/* CSS */

body{
	margin: 0;
	padding: 0;
	background: #fff;
}
.container{
	width: 940px;
	margin: 0 auto;
}
.top{
	background: url(../img/bg-top.jpg) repeat-x;
	height: 305px;
}
.logo{
	background: url(../img/top.jpg) no-repeat;
	height: 305px;
}
.content{
	background: url(../img/content.jpg) repeat-y;
}
.content-desc{
	padding: 1px 90px;
}
.bottom{
	background: url(../img/bg-bottom.jpg) repeat-x;
	height: 165px;
}
.bottom-logo{
	background: url(../img/bottom.jpg) no-repeat;
	height: 165px;
}